@charset "UTF-8";
/* Navbar */

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(245, 245, 245) !important;
}

nav {
    background-color: rgb(203, 223, 255) !important;
    -webkit-box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 12%);
}
/* Navbar Done */

.sider {
    padding: 0.6rem;
    border-radius: 0.5rem;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(57, 57, 57, 0.15) !important;
}

.im {
    width: 150px;
}